<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Document</title>
</head>

{% block content %}
<body class="body">
    <div class="container">
        <div class="row">
            <nav class="navbar  navbar-expand-sm bg-dark ">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a  class="nav-link link-light" href="{% url 'home' %}"><i class="bi bi-house-door"></i></a>
                    </li>
                    <li class="nav-item">
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link link-light"  href="{% url 'report' %}">Reports</a>
                    </li>    
                    <li class="nav-item">
                        <a  class="nav-link link-light" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link link-light"  href="{% url 'cases' %}">Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-info"   href="{% url 'wanted' %}">Wanted</a>
                    </li>
        </div>
        <h1>Wanted Persons</h1>
        {% for wanted in object_list %}
            <div class="card">
                {% if wanted.image %}
                <p><img src="{{wanted.image.url}}" alt="Person of interest" width="150px"></p>

                {% endif %}
                <div class="cardtitle">
                    <p><b>Name of suspect:</b>  {{wanted.Name}}</p>
                </div>
                <div class="cardbody">
                    <p><b> Area Last Spotted :</b>{{wanted.origin}}</p>
                    <p><b> Reward :</b>{{wanted.reward}}</p>
               
                </div>
    

            </div>
           
        {% endfor %}
            <br>
      
        
       
        
        
    </div>
    {% endblock content %}
</body>
</html>